/*estilos del main */

.main_edit {
  width: 70%;
  margin-left: 80px;
}
main {
  margin-top: var(--spacing-128)
}
h1 {
  color: var(--dark-solid);
  font-size: var(--font-display);
  font-family: var(--alternative-font);
  letter-spacing: var(--spacing-2);
  font-weight: var(--weight-large);
  word-wrap: break-word;
}

/*Aca estan los tamaño de los input*/

input {
  margin-right: 30px;
  padding: 2px;
}

.input_texto {
  color: #313131;
  width: 243.03px;
  height: 30.8px;
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  word-wrap: break-word;
}

label {
  color: var(--dark-solid);
  margin-right: var(--spacing-8);
  font-size: var(--font-medium);
  font-family: var(--base-font-fix);
  font-weight: var(--weight-small);
  word-wrap: break-word;
}

::placeholder {
  text-align: left;
  color: #b9b9b9;
  font-size: 18px;
  font-family: Inter;
  font-weight: 400;
  letter-spacing: 0.72px;
  word-wrap: break-word;
}

.input_chico {
  width: 45px;
}

.input_mediano {
  width: 120px;
}

.input_grande {
  width: 310px;
}

/*Esto es para sacar las flechitas del input Number*/

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/**/

.renglon1 {
  display: flex;
  justify-content: space-between;
}

select {
  color: #727272;
  border-radius: 6px;
  width: 243.03px;
  height: 30.8px;
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  word-wrap: break-word;
}

option {
  color: #474747;
}

.borde_rojo {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: solid var(--primary-solid) 2px;
}

textarea {
  text-align: left;
  color: #252525;
  font-size: 18px;
  font-family: Inter;
  font-weight: 400;
  letter-spacing: 0.72px;
  word-wrap: break-word;
  width: 100%;
  height: 200px;
  border-radius: 4px;
  border: 0.5px #1f1f1f solid;
}

/*Estilo de los botones*/

.boton_rojo {
  background: var(--primary-solid);
  padding: var(--spacing-8) var(--spacing-28);
  border: 0;
  color: var(--light-font-solid);
  font-size: var(--font-medium);
  font-family: var(--base-font-fix);
  font-weight: var(--weight-large);
  word-wrap: break-word;
}

/*Estilo imagenes */

.imagenesfiguras {
  width: 150px;
}

.figuras_imagenes {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.imagenesYTexto {
  text-align: center;
  color: black;
  font-size: 20px;
  font-family: Raleway;
  font-weight: 500;
  word-wrap: break-word;
}

/*register*/

.main-register {
  margin: 135px 0 0 0;
  display: grid;
  align-items: center;
  justify-content: center;
}
.complete-register {
  font-family: Raleway;
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0.04em;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 35px;
}

.title-register {
  margin: 0 0 35px;
  display: grid;
  align-items: center;
  justify-content: center;
}

.register-container {
  display: grid;
  justify-content: center;
  align-items: center;
}

.form-container {
  display: grid;
  justify-content: center;
  align-items: center;
}

.sumit-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.terms {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.checkbox-register {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  padding: 0px;
}

.user-register {
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin: 0 0 var(--spacing-16);
}
.password-register {
  justify-content: space-between;
  display: flex;
}

.input-email {
  width: 10em;
}

.input-password {
  width: 10em;
}

.olvidar-contrasena {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2em auto;
}
.input-register {
  width: 220px;
}

span {
  margin: 0 0.25em;
}

.input-register:focus {
  outline: none;
}

/*login*/

.login-main {
  margin: var(--spacing-16);
  padding-top: var(--spacing-36);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-content: space-between;
}
.login-tittle {
  margin: 0 0 var(--spacing-36);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-jumbo);
  text-transform: uppercase;
}
.login-form {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-12);
}
.input-login:focus {
  outline: none;
}
.actions-login {
  display: flex;
  justify-content: space-around;
  padding: var(--spacing-16);
  margin: var(--spacing-8);
  align-items: center;
}
.checkbox-login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: var(--spacing-8);
  padding: 0px;
}

.rememberme {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.rememberme-label {
  font-size: var(--font-medium);
}

.password-lost {
  display: flex;
  justify-content: center;
  font-size: var(--font-small);
  color: var(--secondary-solid);
}
.boton-login {
  display: flex;
  background: var(--primary-solid);
  padding: var(--spacing-8) var(--spacing-28);
  color: var(--light-font-solid);
  font-size: var(--font-medium);
  font-family: var(--base-font-fix);
  font-weight: var(--weight-large);
  word-wrap: break-word;
  cursor: pointer;
  text-decoration: none;
}
/* contact */

.message {
  height: 10rem;
}

.message-register {
  display: flex;
  margin: 0 0 2em;
}

/*admin*/
.main-admin {
  margin: var(--spacing-128) var(--spacing-68);
  padding-top: var(--spacing-28);
}
.search-bar {
  display: flex;
  margin: var(--spacing-12);
}

.titles-table {
  display: flex;
  justify-content: space-between;
}

.title-list-products {
  font: var(--alternative-font);
  font-size: var(--font-jumbo);
  font-weight: var(--weight-large);
  text-transform: uppercase;
}

.title-add {
  font: var(--base-font-fix);
  font-size: var(--font-intermediate);
  font-weight: var(--weight-large);
  text-transform: uppercase;
}
table {
  width: 100%;
}
.icon-edit {
  color: var(--secondary-solid);
  text-decoration: none;
}
.icon-delete {
  color: var(--primary-solid);
  text-decoration: none;
}
.table-description {
  font: var(--base-font-fix);
  font-size: var(--font-intermediate);
  font-weight: var(--weight-large);
  text-align: left;
  padding-top: var(--spacing-16);
  padding-bottom: var(--spacing-16);
  padding-left: var(--spacing-16);
}
.table-item {
  font: var(--base-font-fix);
  font-size: var(--font-medium);
  font-weight: var(--weight-small);
  padding-top: var(--spacing-16);
  padding-left: var(--spacing-16);
  padding-bottom: var(--spacing-16);
}
#add {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-4);
  margin: var(--spacing-12);
}
.icons-edit-delete {
  
  display: flex;
  flex-direction: row;
  gap: var(--spacing-4);
}
#icon-add {
  background-color: var(--primary-solid);
  color: var(--light-font-solid);
  border-radius: var(--spacing-4);
  display: flex;
  justify-content: center;
}
/*responsive */

/*register*/
@media (max-width: 768px) {
  .input-register {
    width: 8em;
  }
  .complete-register {
    text-align: left;
  }
  .sumit-container {
    display: grid;
  }
  .boton_rojo {
    margin-bottom: 2em;
  }
}
