/*fonts*/
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

/* margen fixeado*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* cambio de letra y padding */
body {
  font-family: sans-serif;
}

/* ajuste del nav (header) */
.header {
  background-color: #30343f;
  height: 135px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

main {
  padding: 60px 60px 90px;
  margin-bottom: 30px;
}

.main_edit {
  margin-top: 90px;
}

.nav {
  display: flex;
  justify-content: space-between;
  /*max-width: 992px;*/
  margin: 0 auto;
  flex-wrap: inherit;
  font-size: 1rem;
}

.nav-menu {
  display: flex;
  list-style: none;
  margin-top: 35px;
  padding: 0 35px;
}

.nav-menu-item {
  margin: 0 10px;
  line-height: 60px;
  text-transform: uppercase;
  width: max-content;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  padding: 0 40px;
  line-height: 60px;
  display: flex;
  align-items: center;
  margin-top: 30px;
  justify-content: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  /*max-width: 992px;*/
  margin: 0 auto;
  flex-wrap: inherit;
  font-size: 1rem;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  color: #ff4848;
}

.nav-toggle {
  color: white;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  cursor: pointer;
  display: none;
}

.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.cart-icon {
  width: 25px;
}

/* Agregamos estilos al banner */
#hero_banner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 388px;
  margin-top: 135px;
}

#hero_banner .bac {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/img/funkos-banner.webp");
  background-size: cover;
  z-index: -1;
  border: 1px solid transparent;
  background-position: bottom;
  filter: blur(1px);
}

#hero_banner article {
  margin-top: -30px;
  padding: 130px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.3);
}

#hero_banner article a {
  display: flex;
  background-color: #fff;
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 30px;
  width: 211px;
  justify-content: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
}
#hero_banner article a:hover {
  background-color: #ff4848;
  color: white;
}

#hero_banner article h1 {
  font-family: Raleway;
  font-size: 38px;
  font-weight: 700;
  line-height: 45px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0 0 5px;
  color: #ffffff;
}

#hero_banner article p {
  margin: 0 0 40px;
  color: #fff;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

/* agregamos estilos al footer */
.footer {
  background-color: #30343f;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 343px;
  flex-shrink: 0;
  padding-left: 110px;
  padding-right: 110px;
}
.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 124px;
  padding-bottom: 57px;
}
.footer-li-item {
  padding-top: 8px;
}

.footer-link {
  list-style: none;
}
#footer-p {
  color: #ffffff;
  display: flex;
  justify-content: center;
}
#isotype {
  width: 143px;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 30px;
  height: 4px;
  background-color: #ffffff;
  margin: 3px 0;
  transition: 0.4s;
}

/* Agrega una clase para rotar las barras y simular un botón de cierre */
.menu-open .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.menu-open .bar:nth-child(2) {
  opacity: 0;
}

.menu-open .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

.navfull {
  height: 100%;
}

/*secciones del principal*/
.boton-front {
  display: grid;
  border-radius: 100px;
  background: #30343f;
  justify-content: center;
  font-size: 24px;
  font-weight: 700;
  font-family: inter;
  color: #fff;
  text-decoration: none;
  height: 65px;
  width: 291.81px;
  align-content: center;
}
.titles {
  font-family: Raleway;
  font-weight: 500;
  font-size: 46px;
  line-height: 54px;
  margin: 0 0 10px;
}
.descrp {
  font-family: Raleway;
  font-weight: 400;
  font-size: 24px;
  line-height: 28.18px;
  color: #4f4f4f;
  margin: 0 0 10px;
}
.starwars,
.pokemon,
.harryPotter {
  display: flex;
  justify-content: center;
  align-content: center;
}
/* Seccion ultimos lanzamientos */

.lanzamientos h2 {
  color: #111111;
  font-size: 46px;
  font-family: Raleway;
  font-weight: 700;
  text-transform: uppercase;
  word-wrap: break-word;
}

.ultimos_lanzamientos {
  width: 100%;
}

.lanzamientos_lista {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  padding: 2rem;
}

.lanzamientos_lista a {
  text-decoration: none;
  color: inherit;
}

.nuevo {
  display: inline-block;
  position: absolute;
  right: 0px;
  padding: 7px 20px;
  background-color: #ff3333;
  color: #f5f5f5;
  border-radius: 7px;
}

.lanzamientos img {
  width: 18rem;
}

.articulo {
  position: relative;
  font-family: Inter;
  word-wrap: break-word;
}

.articulo_franquicia {
  color: #333333;
  font-size: 14px;
  font-weight: 500;
}

.articulo_titulo {
  color: #111111;
  font-size: 18px;
  font-weight: 700;
}

.articulo_precio {
  color: #333333;
  font-size: 16px;
  font-weight: 400;
}

.articulo_cuotas {
  color: #1d84b5;
  font-size: 12px;
  font-weight: 700;
}

/* styles.css */
.line {
  width: 645px;
  height: 3px;
  background-color: #ff3333;
  margin: 0 0 33px;
}
/*style imagen shop*/
.img-shop {
  width: 20em;
}
/*secciones del shop*/

.shop_main {
  display: flex;
}

.shop_buscador {
  min-width: 200px;
}

.shop_lista {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.shop_lista a {
  text-decoration: none;
  color: inherit;
}

.shop_paginas {
  align-self: stretch;
}
.item-container {
  margin-top: 135px;
}



/*Estilo del SHOP*/

.container_shop{
  display: flex;
  flex-direction: row;
  margin-top: 135px;
  padding-top: 20px;
  /* border: solid red 2px; */
}


.shop_main{
  display: block;
  /* border: solid red 2px; */
  width: 80%;
  padding: 0;
  margin: 0;
  margin-left: 10px;
}

.productos{
  position: relative;
  margin-bottom: 40px;
  
}

.shop_paginas{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  /* border: solid red 2px; */
}

.shop_paginas li{
  display: flex;
  gap: 8px;
  list-style: none;
  /* border: solid red 2px; */
  
}

.shop_paginas input{
  
  color: #212B36;
  background-color: #ffffff;
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  font-family: Inter;
  font-weight: 700;
  word-wrap: break-word;
  border-radius: 4px; 
  overflow: hidden; 
  width: 44px;
  height: 44px;
  border: 0.50px #DFE3E8 solid
}

.primer_boton{
  background-color: #919EAB !important;
  color: #C4CDD5;

}

.pagina_seleccionada{
  color: #FF3333 !important;
  border: solid red 2px !important;
}

/*Aca comienza lo del buscador del SHOP - ASIDE*/

.aside_shop{
  padding-left: 40px;
  width: 20%;
}


.titulo_buscador{
  color: #111111;
  font-size: 24px;
  font-family: Inter;
  font-weight: 500;
  word-wrap: break-word;
}

.buscar ::placeholder{
  color: #B9B9B9;
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  word-wrap: break-word;
  padding-left: 10px;
}

.placeholder_buscador{
  color: #B9B9B9;
  font-size: 20px;
  font-family: Inter;
  font-weight: 500;
  word-wrap: break-word;
  padding-left: 10px;
}

.buscar input{
  width: 100%;
  height: 38px;
  border-radius: 6px; 
  border: 1px #30343F solid;
}

.ordenar_por select{
  width: 100%;
  height: 38px;
  border-radius: 6px; 
  border: 1px #30343F solid;
}

.min_max{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;  
  width: 100%;
}

.min_max label{
  color: #111111;
  font-size: 16px;
  font-family: Inter;
  font-weight: 500;
  word-wrap: break-word
}

.min_max input{
  border-radius: 6px; 
  border: 1px #30343F solid;
  width: 60px;
  text-align: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.filtrar_seleccion{
  margin-left: 20px;
  color: #111111;
  font-size: 18px;
  font-family: Inter;
  font-weight: 500;
  word-wrap: break-word
}

.my_checkbox{
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 6px; 
  border: 1px #30343F solid;
}

.my_checkbox:checked {
  background-color: rgb(0, 141, 0);
}

.my_checkbox:disabled {
  background-color: rgb(198, 198, 198);
  background-image: none;
} 




/*responsive*/

/* reparar shop_paginas para que quede centrado */

/* 

.productos {
  display: inline-block;
}

#label-buscar {
  display: block;
}

#ordenar {
  display: block;
}

 */
