/* Media query para dispositivos móviles */
@media (max-width: 768px) {
    .menu-toggle {
      display: flex;
      margin: 50px;
    }
    .nav-menu {
      display: none;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: #f5f5f5;
      text-align: center;
    }
    .nav-menu.active {
      display: flex;
      flex-direction: column;
      background-color: #30343f;
      margin-top: 70px;
    }
    .cart {
      padding-bottom: 35px;
    }
    img {
      max-width: 100%;
    }
    picture {
      max-width: 100%;
    }
    main {
      max-width: 100%;
    }
    #hero_banner {
      height: 100%;
    }
    .footer-container {
      display: grid;
      padding-top: 50px;
      justify-content: center;
    }
    #isotype {
      padding-top: 20px;
    }
    .footer {
      height: 100%;
    }
    .footer-link {
      margin: 0 0 30px;
      justify-content: center;
      align-items: center;
      display: grid;
    }
    .line {
      display: none;
    }
    article {
      margin-bottom: 50px;
    }
  
    /* Ultimos lanzamientos */
  
    .lanzamientos_lista {
      flex-direction: column;
    }
  
    .lanzamientos h2 {
      font-size: 26px;
    }
    /*responsive shop*/
    /* .shop_main {
      display: grid;
    } */

    .container_shop{
     flex-direction: column;
     align-items: center;
    }

    .aside_shop{
      width: 90%;
      padding-left: 0;
      margin-bottom: 80px;
    }

    .min_max{
      justify-content: space-around;
    }

    .shop_lista{     
      justify-content: center; 
      margin-block-start: 0px;
      margin-block-end: 0;
      margin-inline-start: 0;
      margin-inline-end: 0;
      padding-inline-start: 0px;
    }

    .shop_main{
      width: 100%;
    }
  }